.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .Google{
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(143, 101, 24);
  }
  .Apple{
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(132, 98, 33);
  }
  .Show{
    width: 50px;
    position:absolute;
    left: 810px;
    height: -120px;
    background-color: rgb(64, 159, 64);
  }